body {
    background-color:#FFFFFF;
}

#project-head {
    padding-top: 70px;
    background-color: $acs-color;
    .intro {
        @include flex(row);
        padding:8rem 0 8rem 0;
        @media (max-width:$med) {
            @include flex(column);
        }
    }
    #year {
        text-align: right;
    }
    #project-title {
        padding-left: 6%;
        width: 70%;
        padding-bottom: 6rem;
        @media (max-width:$med) {
            padding-left:0%;
            padding-top:2rem;
        }
    }
    h1 {
        padding-right:20%;
    }
}

#two-screens {
    margin-top:2rem;
}

header {
    background-color: $acs-color;
    a {
        color:white;
    }
    .main-logo {
        content: url("../../img/logo-white-victor-deweerdt.svg");
    }
}