body {
    background-color:#FFFFFF;
}

#color-head {
    background-color:$acs-color;
}

#two-screens {
    margin-top:2rem;
}

header {
    background-color: $acs-color;
    a {
        color:white;
        :hover {
            color:white;
        }
    }
    .main-logo {
        content: url("../../img/logo-white-victor-deweerdt.svg");
    }
}