#color-head {
    background-color: #FFF200;
}

#project-content {
    background:white;
}

#third-txt {
    h4 {
        padding-bottom: 2rem;
    }
}

header {
    background-color:$llb-color;
}

.bloc-1-long-screen {
    background-color:#FFFDD4;
}