body {
    background-color:#FFFFFF;
}

#color-head {
    background-color: $w-color;
}

#three-screens {
    background-color:#F2F2F2;
}

#verbatim-lucie {
    background-image: url(../../img/wide/Wide-Lucie-Sarfati.jpeg);
}

header {
    background-color:$w-color;
    a {
        color:white;
        :hover {
            color:white;
        }
    }
    .main-logo {
        content: url("../../img/logo-white-victor-deweerdt.svg");
    }
}