.header {
    @include size(100%, 70px);
    position: fixed;
    top:0;
    width: 90%;
    padding: 0 5%;
    @include flex(row);
    left: 0;
    right: 0;
}

.header-white {
    @include size(100%, 70px);
    position: fixed;
    top:0;
    width: 90%;
    margin: 0 5%;
    @include flex(row);
    left: 0;
    right: 0;
    a {
        color:$white;
    }
}

.main-nav {
    width:100%;
    @include flex(row);
    .back-home {
        @include size(50%);
    }
}

.menu {
    @include flex(row, center, flex-end);
    li:first-child {
        padding-right:70px;
        @media (max-width:$sm) {
            padding-right:20px;
        }
    }
}

.main-logo {
    width:43px;
}

.logo-home {
    @include flex(row, center, flex-start)
}

.my-name {
    padding-left:30px;
    @media (max-width:$sm) {
        padding-left:15px;
    }
}

.mobile-menu {
    display:block;
    padding-right:40px;
    text-align: right;
    @media (min-width:$med) {
        display:none;
    }

}

