@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


h1 {
    @include font($h1-font-size*0.75, #3b3b3b, 400, initial);
    @media (min-width:$sm) {
        @include font($h1-font-size*0.85, #3b3b3b, 400, initial);
    }
    @media (min-width:$lg) {
        @include font($h1-font-size, #3b3b3b, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h1-font-size*1.25, #3b3b3b, 400, initial);
    }
}

.h1 {
    @include font($h1-font-size*0.75, #3b3b3b, 400, initial);
    @media (min-width:$sm) {
        @include font($h1-font-size*0.85, #3b3b3b, 400, initial);
    }
    @media (min-width:$lg) {
        @include font($h1-font-size, #3b3b3b, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h1-font-size*1.25, #3b3b3b, 400, initial);
    }
}

h2 {
    @include font($h2-font-size*0.85, #3b3b3b, 900, initial);
    text-transform: uppercase;
    @media (min-width:$lg) {
        @include font($h2-font-size, #3b3b3b, 900, initial);
    }
    @media (min-width:$xl) {
        @include font($h2-font-size*1.25, #3b3b3b, 900, initial);
    }
}

.h2 {
    @include font($h2-font-size*0.85, #3b3b3b, 900, initial);
    text-transform: uppercase;
    @media (min-width:$lg) {
        @include font($h2-font-size, #3b3b3b, 900, initial);
    }
    @media (min-width:$xl) {
        @include font($h2-font-size*1.25, #3b3b3b, 900, initial);
    }
}

h3 {
    @include font($h3-font-size, $black, 400, initial);
    @media (min-width:$xl) {
        @include font($h3-font-size*1.25, $black, 400, initial);
    }
}

// Class h3
.h3 {
    @include font($h3-font-size, $black, 400, initial);
    @media (min-width:$xl) {
        @include font($h3-font-size*1.25, $black, 400, initial);
    }
}

h4 {
    @include font($h4-font-size*0.6, $black, 400, 2.5rem);
    @media (min-width:$lg) {
        @include font($h4-font-size, $black, 400, 3.5rem);
    }
}

.h4 {
    @include font($h4-font-size*0.6, $black, 400, 2.5rem);
    @media (min-width:$lg) {
        @include font($h4-font-size*0.9, $black, 400, 3.5rem*0.9);
    }
}

h5 {
    @include font($h5-font-size, $black, 400, 2.3rem);
    @media (min-width:$xl) {
        @include font($h5-font-size*1.25, $black, 400, 2.3rem*1.25);
    }
}

.h5 {
    @include font($h5-font-size, $black, 400, 2.3rem);
    @media (min-width:$xl) {
        @include font($h5-font-size*1.25, $black, 400, 2.3rem*1.25);
    }
}


p {
    @include font($font-size-base, $black, 400, 2rem);
}

.p {
    @include font($font-size-base, $black, 400, 2rem);
}

a {
    @include font($font-size-base, $black, 400, initial);
    @media (min-width:$lg) {
        @include font($font-size-base, $black, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($font-size-base*1.25, $black, 400, initial);
    }
    color:$black;
    text-decoration: none;
    :hover {
        color:$black;
    }
}