@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


h1 {
    @include font($h1-font-size*0.6, #3b3b3b, 400, initial);
    @media (min-width:$sm) {
        @include font($h1-font-size*0.75, #3b3b3b, 400, initial);        
    }
    @media (min-width:$lg) {
        @include font($h1-font-size, #3b3b3b, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h1-font-size*1.25, #3b3b3b, 400, initial);
    }
}

.h1 {
    @include font($h1-font-size*0.6, #3b3b3b, 400, initial);
    @media (min-width:$sm) {
        @include font($h1-font-size*0.75, #3b3b3b, 400, initial);        
    }
    @media (min-width:$lg) {
        @include font($h1-font-size, #3b3b3b, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h1-font-size*1.25, #3b3b3b, 400, initial);
    }
}

h2 {
    @include font($h2-font-size*0.75, #3b3b3b, 500, initial);
    @media (min-width:$lg) {
        @include font($h2-font-size, #3b3b3b, 500, initial);
    }
    @media (min-width:$xl) {
        @include font($h2-font-size*1.25, #3b3b3b, 500, initial);
    }
}

.h2 {
    @include font($h2-font-size*0.75, #3b3b3b, 500, initial);
    @media (min-width:$lg) {
        @include font($h2-font-size, #3b3b3b, 500, initial);
    }
    @media (min-width:$xl) {
        @include font($h2-font-size*1.25, #3b3b3b, 500, initial);
    }
}

h3 {
    @include font($h3-font-size*0.75, $black, 400, initial);
    @media (min-width:$lg) {
        @include font($h3-font-size, $black, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h3-font-size*1.25, $black, 400, initial);
    }
}

// Class h3
.h3 {
    @include font($h3-font-size*0.75, $black, 400, initial);
    @media (min-width:$lg) {
        @include font($h3-font-size, $black, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h3-font-size*1.25, $black, 400, initial);
    }
}

h4 {
    @include font($h4-font-size*0.75, $black, 400, initial);
    @media (min-width:$lg) {
        @include font($h4-font-size, $black, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h4-font-size*1.25, $black, 400, initial);
    }
}

.h4 {
    @include font($h4-font-size*0.75, $black, 400, initial);
    @media (min-width:$lg) {
        @include font($h4-font-size, $black, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h4-font-size*1.25, $black, 400, initial);
    }
}

h5 {
    @include font($h5-font-size*0.75, $black, 400, initial);
    @media (min-width:$lg) {
        @include font($h5-font-size, $black, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($h5-font-size*1.25, $black, 400, initial);
    }
}

.h5 {
    @include font($h5-font-size*0.75, $black, 400, $h5-font-size*1.15);
    @media (min-width:$lg) {
        @include font($h5-font-size, $black, 400, $h5-font-size*1.5);
    }
    @media (min-width:$xl) {
        @include font($h5-font-size*1.25, $black, 400, $h5-font-size*1.75);
    }
}


p {
    @include font($font-size-base, $black, 400, 1.6rem);
    @media (min-width:$lg) {
        @include font($font-size-base, $black, 400, 1.6rem);
    }
    @media (min-width:$xl) {
        @include font($font-size-base*1.25, $black, 400, 1.6rem*1.25);
    }
}

.p {
    @include font($font-size-base, $black, 400, 1.6rem);
    @media (min-width:$lg) {
        @include font($font-size-base, $black, 400, 1.6rem);
    }
    @media (min-width:$xl) {
        @include font($font-size-base*1.25, $black, 400, 1.6rem*1.25);
    }
}

a {
    @include font($font-size-base*0.75, $black, 400, initial);
    @media (min-width:$lg) {
        @include font($font-size-base, $black, 400, initial);
    }
    @media (min-width:$xl) {
        @include font($font-size-base*1.25, $black, 400, initial);
    }
    color:$black;
    text-decoration: none;
    :hover {
        color:$black;
    }
}